@font-face {
	font-family: 'Verdana, Geneva';
	src:
		local("Verdana, Geneva");
}
@font-face {
	font-family: 'Montserrat-Bold';
	src: url("../Montserrat-Bold.eot");
	src:
		local("Montserrat-Bold"),
		url("../Montserrat-Bold.eot?#iefix") format("embedded-opentype"),
		url("../montserrat-bold.be7bc24fba36.woff") format("woff"),
		url("../montserrat-bold.e968815c43d5.ttf") format("ttf");
}
@font-face {
	font-family: 'Montserrat-Italic';
	src: url("../Montserrat-Italic.eot");
	src:
		local("Montserrat-Italic"),
		url("../Montserrat-Italic.eot?#iefix") format("embedded-opentype"),
		url("../montserrat-italic.e2014405132e.woff") format("woff"),
		url("../montserrat-italic.85b721a53364.ttf") format("ttf");
}
@font-face {
	font-family: 'Montserrat-BoldItalic';
	src: url("../Montserrat-BoldItalic.eot");
	src:
		local("Montserrat-BoldItalic"),
		url("../Montserrat-BoldItalic.eot?#iefix") format("embedded-opentype"),
		url("../montserrat-bolditalic.e302dce19cfb.woff") format("woff"),
		url("../montserrat-bolditalic.46dab1965de7.ttf") format("ttf");
}
@font-face {
	font-family: 'Northwell';
	src: url("../Northwell.eot");
	src:
		local("Northwell"),
		url("../Northwell.eot?#iefix") format("embedded-opentype"),
		url("../northwell-webfont.6d354097e203.woff") format("woff"),
		url("../northwell.98a868a8de7e.ttf") format("ttf");
}
@font-face {
	font-family: 'Montserrat-Bold';
	src: url("../Montserrat-Bold.eot");
	src:
		local("Montserrat-Bold"),
		url("../Montserrat-Bold.eot?#iefix") format("embedded-opentype"),
		url("../montserrat-bold.be7bc24fba36.woff") format("woff"),
		url("../montserrat-bold.e968815c43d5.ttf") format("ttf");
}
@font-face {
	font-family: 'Northwell';
	src: url("../Northwell.eot");
	src:
		local("Northwell"),
		url("../Northwell.eot?#iefix") format("embedded-opentype"),
		url("../northwell-webfont.6d354097e203.woff") format("woff"),
		url("../northwell.98a868a8de7e.ttf") format("ttf");
}
.im-ts-overlay, .mobilePopup .wrapper {
	background: rgb(0,0,0);
	background: rgba(0,0,0,1);
}

body, .paragraph, .im-ts-sidebar, .nav-page-bottom .icon-button, .im-ts-mobile-view .paragraph {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	color: rgb(51,49,50);
	color: rgba(51,49,50,1.00);
}

.page .im-ts-title-background, .im-ts-mobile-view .top_header h3, .top_header {
	font-family: 'Montserrat-Bold', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	color: rgb(255,253,248);
	color: rgba(255,253,248,1.00);
}

h3, h4, h5, h6, .im-ts-subtitle-background {
	font-family: 'Montserrat-Bold', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	color: rgb(201,181,150);
	color: rgba(201,181,150,1);
}

a {
	color: rgb(138,189,186);
	color: rgba(138,189,186,1.00);
	font-size: 15px;
}

a.button, .button, a.im-ts-button, .im-ts-button, .im-ts-button-background, .p-mobile .im-ts-mobile-view .im-ts-list a.button {
	background: rgb(51,49,50);
	background: rgba(51,49,50,1.00);
}

.im-ts-overlay a.button, .im-ts-overlay .button, .im-ts-overlay a.im-ts-button, .im-ts-overlay .im-ts-button, .im-ts-overlay .im-ts-button-background {
	background: rgb(51,49,50);
	background: rgba(51,49,50,1.00);
}

a.button, .im-ts-mobile-view a.button, .button, a.im-ts-button, .im-ts-button {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
}

.im-ts-overlay a.button, .im-ts-overlay .button, .im-ts-overlay a.im-ts-button, .im-ts-overlay .im-ts-button {
	color: rgb(255,253,248);
	color: rgba(255,253,248,1.00);
}

.im-ts-title-background, .im-ts-mobile-view .top_header, .top_header {
	background: transparent;
	background: transparent;
}

.paragraph h1, .im-ts-title, .paragraph h2, .p-mobile .im-ts-title, .im-ts-mobile-view h1, .im-ts-mobile-view h2, .im-ts-overlay h3, .im-ts-overlay .paragraph h3,
.im-ts-sidebar h2 {
	font-family: 'Montserrat-Bold', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	color: rgb(201,181,150);
	color: rgba(201,181,150,1.00);
}

.paragraph h3, .im-ts-subtitle, .paragraph h4, .paragraph h5, .paragraph h6, .p-mobile .im-ts-subtitle, .im-ts-mobile-view h3, .im-ts-mobile-view h4, .im-ts-mobile-view h5, .im-ts-mobile-view h6, .p-mobile h4.im-ts-subtitle {
	font-family: 'Montserrat-Bold', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	color: rgb(51,49,50);
	color: rgba(51,49,50,1);
}

.im-ts-overlay .paragraph, .im-ts-overlay, .im-ts-mobile-view.mobilePopup .wrapper .paragraph {
	color: rgb(255,253,248);
	color: rgba(255,253,248,1.00);
}

.im-ts-subtitle-background {
	background: transparent;
	background: transparent;
}

.im-ts-overlay h3, .im-ts-overlay .paragraph h3 {
	color: rgb(255,253,248);
	color: rgba(255,253,248,1.00);
	font-size: 28px;
}

.p-mobile .im-ts-title-background {
	color: rgb(255,255,255);
	color: rgba(255,255,255,1);
	font-size: 28px;
}

.not-existing {
	color: rgb(201,181,150);
	color: rgba(201,181,150,1.00);
}

.im-ts-overlay a.button.close-button, a.button.close-button {
	background: rgb(34,34,34);
	background: rgba(34,34,34,1);
}

.paragraph b, .paragraph strong {
	font-family: 'Montserrat-Bold', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
}

.paragraph i, .paragraph em {
	font-family: 'Montserrat-Italic', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
}

.im-ts-overlay {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.nav-bar .buttons-bottom a.im-ts-nav-active-color {
	color: rgb(138,189,186);
	color: rgba(138,189,186,1.00);
}

.nav-buttons-bar .buttons-middle a.nav-label-button, .nav-buttons-bar .buttons-top a.nav-label-button, .nav-buttons-bar .buttons-bottom a.nav-label-button {
	font-family: Verdana, Geneva;
	color: rgb(255,253,248);
	color: rgba(255,253,248,1.00);
}

.nav-page-bottom a.im-ts-nav-bar-background {
	color: rgb(255,253,248);
	color: rgba(255,253,248,1.00);
}

.im-ts-nav-buttons, .nav-label-button,.nav-custom-button,.icon-button .icon, .floating-nav .share-bar a.shareButton {
	background: transparent;
	background: transparent;
}

.nav-bar .nav-buttons-bar, .im-ts-nav-bar-background, .im-ts-nav-bar-background, .im-listindex2-container .im-ts-list-background, .nav-bar.bar-bottom .nav-buttons-bar {
	background: rgb(0,0,0);
	background: rgba(0,0,0,0.55);
}

.im-ts-mobile-view h1, .im-ts-mobile-view h2 {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 700;
	font-style: normal;
	color: rgb(0,0,0);
	color: rgba(0,0,0,1.00);
	font-size: 28px;
}

.nav-page .polaroid {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	color: rgb(255,253,248);
	color: rgba(255,253,248,1.00);
}

.nav-item.nav-page-number {
	background: rgb(201,181,150);
	background: rgba(201,181,150,1.00);
}

.nav-item.nav-page-number {
	color: rgb(255,253,248);
	color: rgba(255,253,248,1.00);
}

.im-ts-nav-active-color {
	background: rgb(50,50,50);
	background: rgba(50,50,50,0.35);
}

.im-ts-sidebar h2 {
	font-size: 28px;
}

#Page0 .im-cover05-highlight img {
	border-color: rgb(255,255,255);
	border-color: rgba(255,255,255,1.00);
}

#Page0 a.im-cover05-highlight:hover .im-ts-title-background, #Page0 a.im-cover05-highlight:hover .im-ts-subtitle-background {
	color: rgb(138,189,186);
	color: rgba(138,189,186,1.00);
}

#Page1 .text-block {
	background: rgb(255,253,248);
	background: rgba(255,253,248,1.00);
}

#Page3 .text-block {
	background: rgb(255,253,248);
	background: rgba(255,253,248,1.00);
}

#Page25 .text-block {
	background: rgb(255,253,248);
	background: rgba(255,253,248,1.00);
}

#Page25 .block-content h2 {
	color: rgb(255,253,248);
	color: rgba(255,253,248,1.00);
	font-size: 22px;
}

#Page25 .block-content .desc {
	color: rgb(255,253,248);
	color: rgba(255,253,248,1.00);
}

#Page25 .im-ts-overlay {
	background: rgb(34,34,34);
	background: rgba(34,34,34,1.00);
}

#Page25 .im-ts-overlay .paragraph {
	color: rgb(255,253,248);
	color: rgba(255,253,248,1.00);
}

#Page1 .im-tp-b-block {
	background: rgb(34,34,34);
	background: rgba(34,34,34,1.00);
}

#Page3 .im-tp-b-block {
	background: rgb(255,253,248);
	background: rgba(255,253,248,1.00);
}

#Page25 .im-tp-b-block {
	background: rgb(34,34,34);
	background: rgba(34,34,34,1.00);
}

#Page2.tp-bootstrap .im-bs-image-text h2 {
	color: rgb(201,181,150);
	color: rgba(201,181,150,1.00);
}

#Page7.tp-bootstrap .im-bs-image-text h2 {
	color: rgb(201,181,150);
	color: rgba(201,181,150,1.00);
}

#Page8.tp-bootstrap .im-bs-image-text h2 {
	color: rgb(201,181,150);
	color: rgba(201,181,150,1.00);
}

#Page9.tp-bootstrap .im-bs-image-text h2 {
	color: rgb(201,181,150);
	color: rgba(201,181,150,1.00);
}

#Page10.tp-bootstrap .im-bs-image-text h2 {
	color: rgb(201,181,150);
	color: rgba(201,181,150,1.00);
}

#Page11.tp-bootstrap .im-bs-image-text h2 {
	color: rgb(201,181,150);
	color: rgba(201,181,150,1.00);
}

#Page12.tp-bootstrap .im-bs-image-text h2 {
	color: rgb(201,181,150);
	color: rgba(201,181,150,1.00);
}

#Page13.tp-bootstrap .im-bs-image-text h2 {
	color: rgb(201,181,150);
	color: rgba(201,181,150,1.00);
}

#Page14.tp-bootstrap .im-bs-image-text h2 {
	color: rgb(201,181,150);
	color: rgba(201,181,150,1.00);
}

#Page15.tp-bootstrap .im-bs-image-text h2 {
	color: rgb(201,181,150);
	color: rgba(201,181,150,1.00);
}

#Page16.tp-bootstrap .im-bs-image-text h2 {
	color: rgb(201,181,150);
	color: rgba(201,181,150,1.00);
}

#Page17.tp-bootstrap .im-bs-image-text h2 {
	color: rgb(201,181,150);
	color: rgba(201,181,150,1.00);
}

#Page18.tp-bootstrap .im-bs-image-text h2 {
	color: rgb(201,181,150);
	color: rgba(201,181,150,1.00);
}

#Page19.tp-bootstrap .im-bs-image-text h2 {
	color: rgb(201,181,150);
	color: rgba(201,181,150,1.00);
}

#Page20.tp-bootstrap .im-bs-image-text h2 {
	color: rgb(201,181,150);
	color: rgba(201,181,150,1.00);
}

#Page21.tp-bootstrap .im-bs-image-text h2 {
	color: rgb(201,181,150);
	color: rgba(201,181,150,1.00);
}

#Page22.tp-bootstrap .im-bs-image-text h2 {
	color: rgb(201,181,150);
	color: rgba(201,181,150,1.00);
}

#Page2 h1 {
	color: rgb(201,181,150);
	color: rgba(201,181,150,1.00);
}

#Page7 h1 {
	color: rgb(201,181,150);
	color: rgba(201,181,150,1.00);
}

#Page8 h1 {
	color: rgb(201,181,150);
	color: rgba(201,181,150,1.00);
}

#Page9 h1 {
	color: rgb(201,181,150);
	color: rgba(201,181,150,1.00);
}

#Page10 h1 {
	color: rgb(201,181,150);
	color: rgba(201,181,150,1.00);
}

#Page11 h1 {
	color: rgb(201,181,150);
	color: rgba(201,181,150,1.00);
}

#Page12 h1 {
	color: rgb(201,181,150);
	color: rgba(201,181,150,1.00);
}

#Page13 h1 {
	color: rgb(201,181,150);
	color: rgba(201,181,150,1.00);
}

#Page14 h1 {
	color: rgb(201,181,150);
	color: rgba(201,181,150,1.00);
}

#Page15 h1 {
	color: rgb(201,181,150);
	color: rgba(201,181,150,1.00);
}

#Page16 h1 {
	color: rgb(201,181,150);
	color: rgba(201,181,150,1.00);
}

#Page17 h1 {
	color: rgb(201,181,150);
	color: rgba(201,181,150,1.00);
}

#Page18 h1 {
	color: rgb(201,181,150);
	color: rgba(201,181,150,1.00);
}

#Page19 h1 {
	color: rgb(201,181,150);
	color: rgba(201,181,150,1.00);
}

#Page20 h1 {
	color: rgb(201,181,150);
	color: rgba(201,181,150,1.00);
}

#Page21 h1 {
	color: rgb(201,181,150);
	color: rgba(201,181,150,1.00);
}

#Page22 h1 {
	color: rgb(201,181,150);
	color: rgba(201,181,150,1.00);
}

#Page7 .im-image-carousel .im-image-carousel-indicators a {
	border-color: rgb(255,255,255);
	border-color: rgba(255,255,255,1.00);
}

#Page8 .im-image-carousel .im-image-carousel-indicators a {
	border-color: rgb(255,253,248);
	border-color: rgba(255,253,248,1.00);
}

#Page9 .im-image-carousel .im-image-carousel-indicators a {
	border-color: rgb(255,253,248);
	border-color: rgba(255,253,248,1.00);
}

#Page10 .im-image-carousel .im-image-carousel-indicators a {
	border-color: rgb(255,253,248);
	border-color: rgba(255,253,248,1.00);
}

#Page11 .im-image-carousel .im-image-carousel-indicators a {
	border-color: rgb(255,253,248);
	border-color: rgba(255,253,248,1.00);
}

#Page12 .im-image-carousel .im-image-carousel-indicators a {
	border-color: rgb(255,253,248);
	border-color: rgba(255,253,248,1.00);
}

#Page14 .im-image-carousel .im-image-carousel-indicators a {
	border-color: rgb(255,253,248);
	border-color: rgba(255,253,248,1.00);
}

#Page15 .im-image-carousel .im-image-carousel-indicators a {
	border-color: rgb(255,253,248);
	border-color: rgba(255,253,248,1.00);
}

#Page16 .im-image-carousel .im-image-carousel-indicators a {
	border-color: rgb(255,253,248);
	border-color: rgba(255,253,248,1.00);
}

#Page17 .im-image-carousel .im-image-carousel-indicators a {
	border-color: rgb(255,253,248);
	border-color: rgba(255,253,248,1.00);
}

#Page19 .im-image-carousel .im-image-carousel-indicators a {
	border-color: rgb(255,253,248);
	border-color: rgba(255,253,248,1.00);
}

#Page7 .paragraph .button, #Page7 .im-cl-text-block .im-ts-button {
	background: rgb(138,189,186);
	background: rgba(138,189,186,1.00);
}

#Page8 .paragraph .button, #Page8 .im-cl-text-block .im-ts-button {
	background: rgb(138,189,186);
	background: rgba(138,189,186,1.00);
}

#Page9 .paragraph .button, #Page9 .im-cl-text-block .im-ts-button {
	background: rgb(138,189,186);
	background: rgba(138,189,186,1.00);
}

#Page10 .paragraph .button, #Page10 .im-cl-text-block .im-ts-button {
	background: rgb(138,189,186);
	background: rgba(138,189,186,1.00);
}

#Page11 .paragraph .button, #Page11 .im-cl-text-block .im-ts-button {
	background: rgb(138,189,186);
	background: rgba(138,189,186,1.00);
}

#Page12 .paragraph .button, #Page12 .im-cl-text-block .im-ts-button {
	background: rgb(138,189,186);
	background: rgba(138,189,186,1.00);
}

#Page13 .paragraph .button, #Page13 .im-cl-text-block .im-ts-button {
	background: rgb(138,189,186);
	background: rgba(138,189,186,1.00);
}

#Page14 .paragraph .button, #Page14 .im-cl-text-block .im-ts-button {
	background: rgb(138,189,186);
	background: rgba(138,189,186,1.00);
}

#Page15 .paragraph .button, #Page15 .im-cl-text-block .im-ts-button {
	background: rgb(138,189,186);
	background: rgba(138,189,186,1.00);
}

#Page16 .paragraph .button, #Page16 .im-cl-text-block .im-ts-button {
	background: rgb(138,189,186);
	background: rgba(138,189,186,1.00);
}

#Page17 .paragraph .button, #Page17 .im-cl-text-block .im-ts-button {
	background: rgb(138,189,186);
	background: rgba(138,189,186,1.00);
}

#Page18 .paragraph .button, #Page18 .im-cl-text-block .im-ts-button {
	background: rgb(138,189,186);
	background: rgba(138,189,186,1.00);
}

#Page19 .paragraph .button, #Page19 .im-cl-text-block .im-ts-button {
	background: rgb(138,189,186);
	background: rgba(138,189,186,1.00);
}

#Page20 .paragraph .button, #Page20 .im-cl-text-block .im-ts-button {
	background: rgb(138,189,186);
	background: rgba(138,189,186,1.00);
}

#Page21 .paragraph .button, #Page21 .im-cl-text-block .im-ts-button {
	background: rgb(138,189,186);
	background: rgba(138,189,186,1.00);
}

#Page22 .paragraph .button, #Page22 .im-cl-text-block .im-ts-button {
	background: rgb(138,189,186);
	background: rgba(138,189,186,1.00);
}

#Page7 .paragraph .button, #Page7 .im-cl-text-block .im-ts-button {
	font-family: 'Montserrat-Bold', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	color: rgb(255,253,248);
	color: rgba(255,253,248,1.00);
}

#Page8 .paragraph .button, #Page8 .im-cl-text-block .im-ts-button {
	font-family: 'Montserrat-Bold', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	color: rgb(255,253,248);
	color: rgba(255,253,248,1.00);
}

#Page9 .paragraph .button, #Page9 .im-cl-text-block .im-ts-button {
	font-family: 'Montserrat-Bold', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	color: rgb(255,253,248);
	color: rgba(255,253,248,1.00);
}

#Page10 .paragraph .button, #Page10 .im-cl-text-block .im-ts-button {
	font-family: 'Montserrat-Bold', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	color: rgb(255,253,248);
	color: rgba(255,253,248,1.00);
}

#Page11 .paragraph .button, #Page11 .im-cl-text-block .im-ts-button {
	font-family: 'Montserrat-Bold', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	color: rgb(255,253,248);
	color: rgba(255,253,248,1.00);
}

#Page12 .paragraph .button, #Page12 .im-cl-text-block .im-ts-button {
	font-family: 'Montserrat-Bold', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	color: rgb(255,253,248);
	color: rgba(255,253,248,1.00);
}

#Page13 .paragraph .button, #Page13 .im-cl-text-block .im-ts-button {
	font-family: 'Montserrat-Bold', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	color: rgb(255,253,248);
	color: rgba(255,253,248,1.00);
}

#Page14 .paragraph .button, #Page14 .im-cl-text-block .im-ts-button {
	font-family: 'Montserrat-Bold', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	color: rgb(255,253,248);
	color: rgba(255,253,248,1.00);
}

#Page15 .paragraph .button, #Page15 .im-cl-text-block .im-ts-button {
	font-family: 'Montserrat-Bold', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	color: rgb(255,253,248);
	color: rgba(255,253,248,1.00);
}

#Page16 .paragraph .button, #Page16 .im-cl-text-block .im-ts-button {
	font-family: 'Montserrat-Bold', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	color: rgb(255,253,248);
	color: rgba(255,253,248,1.00);
}

#Page17 .paragraph .button, #Page17 .im-cl-text-block .im-ts-button {
	font-family: 'Montserrat-Bold', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	color: rgb(255,253,248);
	color: rgba(255,253,248,1.00);
}

#Page6 .im-pg-text .im-ts-title-background {
	font-family: 'Northwell', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	line-height: 105px;
	color: rgb(255,253,248);
	color: rgba(255,253,248,1.00);
	font-size: 130px;
}

#Page6 .group-of-highlights, #Page6 .im-tp-m1-fill-div {
	background: rgb(255,253,248);
	background: rgba(255,253,248,1.00);
}

#Page6.tp-cover06, #Page6.tp-m-cover06 {
	background: rgb(255,253,248);
	background: rgba(255,253,248,1.00);
}

#Page23.tp-gallery02 {
	background: rgb(51,49,50);
	background: rgba(51,49,50,1.00);
}

#Page24.tp-gallery02 {
	background: rgb(96,98,95);
	background: rgba(96,98,95,1.00);
}

#Page23.tp-gallery02 .im-side-block {
	background: rgb(255,253,248);
	background: rgba(255,253,248,1.00);
}

#Page24.tp-gallery02 .im-side-block {
	background: rgb(255,253,248);
	background: rgba(255,253,248,1.00);
}

#Page23.tp-gallery02 .im-side-block .im-ts-title {
	color: rgb(201,181,150);
	color: rgba(201,181,150,1.00);
}

#Page24.tp-gallery02 .im-side-block .im-ts-title {
	color: rgb(201,181,150);
	color: rgba(201,181,150,1.00);
}

#Page23.tp-gallery02 .im-side-block .im-ts-subtitle {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	color: rgb(96,98,95);
	color: rgba(96,98,95,1.00);
	font-size: 16px;
}

#Page24.tp-gallery02 .im-side-block .im-ts-subtitle {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	color: rgb(96,98,95);
	color: rgba(96,98,95,1.00);
	font-size: 16px;
}

#Page23 .im-g2-gallery .im-ts-paragraph {
	background: transparent;
	background: transparent;
}

#Page24 .im-g2-gallery .im-ts-paragraph {
	background: transparent;
	background: transparent;
}

#Page23 .im-ts-title {
	color: rgb(201,181,150);
	color: rgba(201,181,150,1.00);
}

#Page23.tp-gallery02 .im-tp-g2-detail-list-container {
	background: rgb(51,49,50);
	background: rgba(51,49,50,1.00);
}

#Page24.tp-gallery02 .im-tp-g2-detail-list-container {
	background: rgb(51,49,50);
	background: rgba(51,49,50,1.00);
}

#Page23.tp-m-gallery02 .im-g2-details, #Page23.tp-gallery02 .im-g2-details {
	background: rgb(51,49,50);
	background: rgba(51,49,50,1.00);
}

#Page24.tp-m-gallery02 .im-g2-details, #Page24.tp-gallery02 .im-g2-details {
	background: rgb(51,49,50);
	background: rgba(51,49,50,1.00);
}

#Page23 .close-button {
	background: rgb(201,181,150);
	background: rgba(201,181,150,1.00);
}

#Page24 .close-button {
	background: rgb(201,181,150);
	background: rgba(201,181,150,1.00);
}

#Page23.tp-gallery02 .im-g2-details li.active {
	outline: 5px solid rgb(201,181,150);
	outline: 5px solid rgba(201,181,150,1.00);
}

#Page24.tp-gallery02 .im-g2-details li.active {
	outline: 5px solid rgb(201,181,150);
	outline: 5px solid rgba(201,181,150,1.00);
}

#Page23 .im-ts-mobile-view {
	background: rgb(215,222,222);
	background: rgba(215,222,222,1.00);
}

#Page24 .im-ts-mobile-view {
	background: rgb(96,98,95);
	background: rgba(96,98,95,1.00);
}

#Page23.tp-m-gallery02 .im-ts-title-background {
	background: transparent;
	background: transparent;
}

#Page24.tp-m-gallery02 .im-ts-title-background {
	background: transparent;
	background: transparent;
}

#Page23.tp-m-gallery02 .im-ts-title-background {
	color: rgb(255,253,248);
	color: rgba(255,253,248,1.00);
}

#Page24.tp-m-gallery02 .im-ts-title-background {
	color: rgb(255,253,248);
	color: rgba(255,253,248,1.00);
}

#Page23.tp-m-gallery02 .im-ts-subtitle-background {
	background: transparent;
	background: transparent;
}

#Page24.tp-m-gallery02 .im-ts-subtitle-background {
	background: transparent;
	background: transparent;
}

#Page23.tp-m-gallery02 .im-ts-subtitle-background {
	color: rgb(157,159,146);
	color: rgba(157,159,146,1.00);
}

#Page24.tp-m-gallery02 .im-ts-subtitle-background {
	color: rgb(157,159,146);
	color: rgba(157,159,146,1.00);
}

#Page23 .im-ts-button.arrow-right, #Page23 .im-ts-button.arrow-left, #Page23 .im-ts-button.arrow-right-list, #Page23 .im-ts-button.arrow-left-list {
	background: rgb(201,181,150);
	background: rgba(201,181,150,1.00);
}

#Page24 .im-ts-button.arrow-right, #Page24 .im-ts-button.arrow-left, #Page24 .im-ts-button.arrow-right-list, #Page24 .im-ts-button.arrow-left-list {
	background: rgb(201,181,150);
	background: rgba(201,181,150,1.00);
}

#Page23 .im-media-caption {
	background: rgb(215,222,222);
	background: rgba(215,222,222,1.00);
}

#Page24 .im-media-caption {
	background: rgb(215,222,222);
	background: rgba(215,222,222,1.00);
}

#Page23 .im-media-caption {
	color: rgb(96,98,95);
	color: rgba(96,98,95,1.00);
}

#Page24 .im-media-caption {
	color: rgb(96,98,95);
	color: rgba(96,98,95,1.00);
}

#Page26 .paragraph {
	background: transparent;
	background: transparent;
}

#Page26 .paragraph {
	font-family: 'Montserrat-BoldItalic', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	color: rgb(255,253,248);
	color: rgba(255,253,248,1.00);
	font-size: 32px;
}

#Page26.p-mobile .paragraph, #Page26.p-mobile .paragraph strong, #Page26.p-mobile .paragraph i, #Page26  {
	font-family: 'Montserrat-BoldItalic', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	line-height: 26px;
	font-size: 20px;
}

